# Podfile
platform :ios, '12.0' # Vagy a minimum iOS verzió, amit támogatsz

# Flutter Engine integrálása
flutter_application_path = File.dirname(File.expand_path(__FILE__)) + '/..'
load File.join(flutter_application_path, '.ios/Flutter/podhelper.rb')

install do |installer|
  backend = Xcode::UniversalBackend.new(installer)
  path_to_profile = File.join(flutter_application_path, ".ios/Flutter")
  installer.pods_project.targets.each do |target|
    flutter_install_all_ios_pods(target, path_to_profile)
  end
end

target 'Runner' do
  use_frameworks!
  use_modular_headers!

  flutter_install_all_ios_pods File.dirname(File.expand_path(__FILE__)) + '/Flutter'

  # Itt adjuk hozzá a Flutter-en kívüli Podokat is, ha lennének
  # pl.: pod 'FirebaseAnalyticsWithoutAdId', :path => '../.symlinks/plugins/firebase_analytics/ios'
end

post_install do |installer|
  # Külön beállítások a Podokhoz (pl. library search paths)
  installer.pods_project.targets.each do |target|
    target.build_configurations.each do |config|
      config.build_settings['LIBRARY_SEARCH_PATHS'] ||= %w[
        $(inherited)
        $(FLUTTER_ROOT)/bin/cache/artifacts/engine
      ]
      config.build_settings['EXCLUDED_ARCHS[sdk=iphonesimulator*]'] ||= 'arm64'
    end
  end
end
